.comment {
	padding: var(--mantine-spacing-lg) var(--mantine-spacing-xl);
}

.body {
	padding-left: rem(54px);
	padding-top: var(--mantine-spacing-sm);
	font-size: var(--mantine-font-size-sm);
}

.content {
	& > p:last-child {
		margin-bottom: 0;
	}
}

.bookmarkicon:hover,
.messageicon:hover,
.hearticon:hover {
	cursor: pointer;
}

.messageicon:hover > * {
	color: #9775fa !important;
}

.hearticon:hover > * {
	color: #d279cb !important;
}

.bookmarkicon:hover > * {
	color: #4097bf !important;
}
