.comment {
	padding: var(--mantine-spacing-lg) var(--mantine-spacing-xl);
	color: #b097fcce;
}

.comment:hover {
	background-color: #9272f411 !important;
	cursor: pointer;
}

.body {
	padding-left: rem(54px);
	padding-top: var(--mantine-spacing-sm);
	font-size: var(--mantine-font-size-sm);
}

.content {
	& > p:last-child {
		margin-bottom: 0;
	}
}

.bookmarkicon,
.messageicon,
.hearticon {
	color: #9775fa;
	transition: 3s ease-in-out;
}

.bookmarkicon:hover,
.messageicon:hover,
.hearticon:hover {
	cursor: pointer;
}

.messageicon:hover > * {
	color: #47a9d6 !important;
}

.hearticon:hover > * {
	color: #d279cb !important;
}

.bookmarkicon:hover > * {
	color: #3cc94d !important;
}
